@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



























/* ======= Navbar Section/Seção da barra de navegação ======= */
/* ======= Banner Section/Seção de banner ======= */
/* ======= About Section/Seção sobre nos ======= */
/* ======= Rooms Section/Seção de quartos ======= */
/* ======= Services Section/Seção de Serviços ======= */

/* ======= Team Section/Seção de Equipe ======= */
/* ======= Gallery Section/Seção da Galeria ======= */
/* ======= Pricing Section/Seção de preços ======= */
/* ======= Blogs Section/Seção de blogs ======= */
/* ======= Footer Section/Seção de preços ======= */













/* ======= Responsividade ======= */
@media (max-width: 1199px) {
    

    /* Header */

    /* Booking area */

    /* Services */
}

@media (max-width: 991px) {
    

    /* Custom css */

    /* 2 Navbar */

    /* Banner wraper */


    /* About */

    /* Services */

    /* Room */

}