@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
    /*Background Color*/
    --primary-color: #021832;
    --secondary-color: #caa169;
    --bg-color: #f4f4f4;
    --bg-white: #fff;
    --bg-black: #000;


    /*Text Style*/
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Oswald', sans-serif;
    --primary-text: #021832;
    --secundary-text: #caa169;
    --text-white: #fff;
    --text-black: #151515;
    --text-gray: #e4e4e4;
}

body {
    font-family: var(--primary-font);
    background-color: var(--bg-white);
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: .375rem;
}

::-webkit-scrollbar-track {
    background: var(--secondary-color);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}


section {
    padding: 3.125rem 0;
}

.main-btn {
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-color);
    text-transform: uppercase;
    background-color: transparent;
    border: 0.0625rem solid var(--primary-color);
    padding: .375rem 1.875rem;
    border-radius: 3.125rem;
}



/* ======= Navbar Section/Seção da barra de navegação ======= */

/* ======= Banner Section/Seção de banner ======= */
/* ======= About Section/Seção sobre nos ======= */
/* ======= Rooms Section/Seção de quartos ======= */
/* ======= Services Section/Seção de Serviços ======= */

/* ======= Team Section/Seção de Equipe ======= */
/* ======= Gallery Section/Seção da Galeria ======= */
/* ======= Pricing Section/Seção de preços ======= */
/* ======= Blogs Section/Seção de blogs ======= */
/* ======= Footer Section/Seção de preços ======= */













/* ======= Responsividade ======= */
@media (max-width: 1199px) {
    

    /* Header */

    /* Booking area */

    /* Services */
}

@media (max-width: 991px) {
    

    /* Custom css */

    /* 2 Navbar */

    /* Banner wraper */


    /* About */

    /* Services */

    /* Room */

}